@page "/"

<PageTitle>Zoo Tycoon Nexus</PageTitle>

<div class="nexus">
    <SiteNav />

    <Hero />

    <ProblemsSection />

    <FeaturesSection />

    <HowItWorksSection />

    <RoadmapSection />

    <ContributeSection />

    <BetaCallToActionSection />
    
    <SiteFooter />
</div>
